  /* New Divs for transitions */
  table{
    text-align: center;
    vertical-align: middle;
    border: solid 0px;
  }
  th,td{
    font-family: Helventica;
    padding: 8px;
    border: solid 0px;
    font-size: 2em;
  }
  .tdh{
    font-size: 2em;
    font-family: Verdana;
    border: solid 0px;
  }